*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-family: "Inter", serif;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

button {
  box-shadow: none;
  border-style: none;
}

@keyframes FromBottom {
  0% {
    transform: translateY(200%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes FromTop {
  0% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes FromLeft {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes FromRight {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes Appear {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  80% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes BlurredDrop {
  0% {
    transform: scale(16);
    filter: blur(16px);
  }
  100% {
    transform: scale(1);
    filter: blur(0px);
  }
}
@keyframes LogoToTop {
  0% {
    transform: translate(-50%, -50%) scale(3);
    top: 50%;
    left: 50%;
    margin: 0;
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
}
@keyframes LogoToRight {
  0% {
    transform: translate(50%, -50%) scale(1.6);
    top: 50%;
    left: -50%;
    margin: 0;
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
}
@keyframes LogoToLeft {
  0% {
    transform: translate(-50%, -50%) scale(1.6);
    top: 50%;
    left: 50%;
    margin: 0;
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
}
@keyframes bounce {
  70% {
    transform: scale(1.2);
  }
  40%, 60% {
    transform: rotate(-20deg) scale(1.2);
  }
  50% {
    transform: rotate(20deg) scale(1.2);
  }
  70% {
    transform: rotate(0deg) scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes BlurredDrop2 {
  0% {
    transform: scale(8);
    filter: blur(16px);
    height: 160px;
    max-width: 260px;
    opacity: 1;
  }
  30% {
    transform: scale(1);
    filter: blur(0px);
  }
  90% {
    transform: scale(1);
    filter: blur(0px);
    height: 160px;
    max-width: 260px;
    opacity: 1;
  }
}
h1 {
  margin: 80px auto;
  text-align: center;
}

.center {
  width: -moz-fit-content;
  width: fit-content;
  margin: 120px auto;
  background-color: #DAE9DC;
  padding: 20px;
}

.creative-container {
  background-color: rgb(0, 0, 0);
}

.creatives-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  gap: 16px;
  background-color: rgb(235, 235, 235);
}
.creatives-grid .card {
  width: -moz-fit-content;
  width: fit-content;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s ease all;
}
.creatives-grid .card:hover {
  background-color: rgb(196, 196, 196);
}

.billboard-1 {
  position: relative;
  display: flex;
  width: 970px;
  height: 250px;
  background-color: #5c2811;
  overflow: hidden;
}
.billboard-1 .bb1-shape1 {
  position: absolute;
  fill: #f9b960;
  left: 0;
  animation: FromLeft 1s 2s backwards ease-in-out;
}
.billboard-1 .creative-img-container {
  width: 340px;
  height: 222px;
  margin: auto auto auto 0;
  border-radius: 0px 48px 48px 0px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 6px rgba(255, 255, 255, 0.2509803922) solid;
  overflow: hidden;
  transform: translateX(-6px);
  z-index: 1;
  animation: FromLeft 1s 1s backwards ease-in-out;
}
.billboard-1 .creative-img-container .creative-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.billboard-1 .text-container {
  display: flex;
  flex-direction: column;
  max-width: 360px;
  margin: auto 0 auto 0;
  gap: 24px;
}
.billboard-1 .text-container .creative-text {
  font-size: 28px;
  line-height: 38px;
  color: #fff;
  font-weight: 600;
  animation: Appear 1s 2s backwards ease-in-out;
}
.billboard-1 .text-container .creative-button {
  background-color: #e71b1b;
  border: 1px rgba(255, 255, 255, 0.2) solid;
  color: #ffffff;
  text-wrap: nowrap;
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  width: -moz-fit-content;
  width: fit-content;
  padding: 12px 24px;
  border-radius: 16px;
  animation: FromBottom 1s 3s backwards ease-in-out, bounce 1s 4s ease;
}
.billboard-1 .logo-container {
  position: relative;
  transform: translate(0%, -50%);
  top: 50%;
  left: 0;
  margin: 0 auto 0 auto;
  height: 120px;
  max-width: 180px;
  background: #e71b1b;
  border-radius: 16px;
  overflow: hidden;
  padding: 10px;
  z-index: 1;
  box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
  animation: LogoToRight 1.5s backwards cubic-bezier(0.74, -0.22, 0.89, 0.91);
}
.billboard-1 .logo-container .logo-img {
  height: 100%;
  max-width: 100%;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.billboard-1 .bb1-shape2 {
  position: absolute;
  fill: #f9b960;
  right: 0;
  animation: FromRight 1s 1s backwards ease-in-out;
}

.billboard-2 {
  position: relative;
  display: flex;
  width: 970px;
  height: 250px;
  background-color: #5c2811;
  overflow: hidden;
}
.billboard-2 .shape {
  animation: BlurredDrop 1.5s backwards cubic-bezier(0.74, -0.22, 0.89, 0.91);
}
.billboard-2 .bb2-shape1 {
  position: absolute;
  fill: #f9b960;
  left: 0;
  top: 0;
}
.billboard-2 .bb2-shape2 {
  position: absolute;
  fill: #f9b960;
  left: 10%;
  bottom: 0;
}
.billboard-2 .bb2-shape3 {
  position: absolute;
  fill: #f9b960;
  top: 12%;
  left: 50%;
  z-index: 2;
}
.billboard-2 .bb2-shape4 {
  position: absolute;
  fill: #f9b960;
  bottom: 0;
  right: 36%;
}
.billboard-2 .bb2-shape5 {
  position: absolute;
  fill: #f9b960;
  top: 0;
  right: 0;
}
.billboard-2 .bb2-shape6 {
  position: absolute;
  fill: #f9b960;
  bottom: 0;
  right: 0;
}
.billboard-2 .logo-container {
  position: relative;
  transform: translate(0, -50%);
  top: 50%;
  left: 0;
  margin: 0 auto 0 auto;
  height: 120px;
  max-width: 180px;
  background: #e71b1b;
  border-radius: 16px;
  overflow: hidden;
  padding: 10px;
  z-index: 1;
  box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
  animation: LogoToLeft 1.5s backwards cubic-bezier(0.74, -0.22, 0.89, 0.91);
}
.billboard-2 .logo-container .logo-img {
  height: 100%;
  max-width: 100%;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.billboard-2 .creative-img-container {
  width: 340px;
  height: 222px;
  margin: auto 0 auto 0;
  border-radius: 900px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 6px rgba(255, 255, 255, 0.2509803922) solid;
  overflow: hidden;
  animation: FromBottom 1s 1s backwards ease-in-out;
}
.billboard-2 .creative-img-container .creative-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.billboard-2 .text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 360px;
  margin: auto;
  gap: 24px;
}
.billboard-2 .text-container .creative-text {
  font-size: 28px;
  line-height: 38px;
  color: #fff;
  text-align: center;
  font-weight: 600;
  animation: Appear 1s 2s backwards ease-in-out;
}
.billboard-2 .text-container .creative-button {
  background-color: #e71b1b;
  border: 1px rgba(255, 255, 255, 0.2) solid;
  color: #ffffff;
  text-wrap: nowrap;
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  width: -moz-fit-content;
  width: fit-content;
  padding: 12px 24px;
  border-radius: 16px;
  z-index: 1;
  animation: FromBottom 1s 2s backwards ease-in-out, bounce 1s 4s ease;
}

.billboard-3 {
  position: relative;
  display: flex;
  width: 970px;
  height: 250px;
  background-color: #5c2811;
  overflow: hidden;
}
.billboard-3 .creative-img-container {
  position: relative;
  width: 360px;
  height: 250px;
  margin: auto auto auto 0;
  z-index: 1;
  animation: BlurredDrop 1.5s backwards cubic-bezier(0.74, -0.22, 0.89, 0.91);
}
.billboard-3 .creative-img-container .BG-overlap {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  height: 100%;
  width: 10px;
  border-radius: 100% 0 0 100%;
  background-color: #5c2811;
}
.billboard-3 .creative-img-container .creative-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.billboard-3 .shape {
  animation: BlurredDrop 1.5s backwards cubic-bezier(0.74, -0.22, 0.89, 0.91);
}
.billboard-3 .bb3-shape1 {
  position: absolute;
  fill: #f9b960;
  z-index: 2;
  left: 35%;
}
.billboard-3 .bb3-shape2 {
  position: absolute;
  fill: #f9b960;
  z-index: 1;
  right: 0;
}
.billboard-3 .text-container {
  display: flex;
  flex-direction: column;
  margin: auto 0 auto 0;
  max-width: 360px;
  gap: 24px;
  z-index: 1;
}
.billboard-3 .text-container .creative-text {
  font-size: 28px;
  line-height: 38px;
  color: #fff;
  font-weight: 600;
  animation: Appear 1s 2s backwards ease-in-out;
}
.billboard-3 .text-container .creative-button {
  background-color: #e71b1b;
  border: 1px rgba(255, 255, 255, 0.2) solid;
  color: #ffffff;
  text-wrap: nowrap;
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  width: -moz-fit-content;
  width: fit-content;
  padding: 12px 24px;
  border-radius: 16px;
  animation: FromBottom 1s 2s backwards ease-in-out, bounce 1s 4s ease;
}
.billboard-3 .logo-container {
  position: relative;
  transform: translate(0%, -50%);
  top: 50%;
  left: 0;
  margin: 0 auto 0 auto;
  height: 120px;
  max-width: 180px;
  background: #e71b1b;
  border-radius: 16px;
  overflow: hidden;
  padding: 10px;
  z-index: 2;
  box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
  animation: LogoToRight 1.5s backwards cubic-bezier(0.74, -0.22, 0.89, 0.91);
}
.billboard-3 .logo-container .logo-img {
  height: 100%;
  max-width: 100%;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.billboard-4 {
  position: relative;
  display: flex;
  width: 970px;
  height: 250px;
  background-color: #5c2811;
  overflow: hidden;
}
.billboard-4 .shape-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 32px;
  padding: 0 8px 0 32px;
  border-radius: 0 32px 32px 0;
  height: 100%;
  overflow: hidden;
  animation: FromLeft 1s 0s backwards ease-in-out;
}
.billboard-4 .shape-container .shape-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  fill: #f9b960;
}
.billboard-4 .shape-container .logo-container {
  margin: auto;
  height: 120px;
  max-width: 180px;
  background: #e71b1b;
  border-radius: 16px;
  overflow: hidden;
  padding: 10px;
  z-index: 1;
  box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
  animation: Appear 1s 1s backwards ease-in-out;
}
.billboard-4 .shape-container .logo-container .logo-img {
  height: 100%;
  max-width: 100%;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.billboard-4 .shape-container .creative-img-container {
  width: 340px;
  height: 230px;
  border-radius: 24px;
  border: 6px rgba(255, 255, 255, 0.2509803922) solid;
  overflow: hidden;
  z-index: 1;
}
.billboard-4 .shape-container .creative-img-container .creative-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.billboard-4 .text-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
  max-width: 360px;
  gap: 24px;
}
.billboard-4 .text-container .creative-text {
  font-size: 28px;
  line-height: 38px;
  color: #fff;
  text-align: center;
  font-weight: 600;
  animation: Appear 1s 1s backwards ease-in-out;
}
.billboard-4 .text-container .creative-button {
  background-color: #e71b1b;
  border: 1px rgba(255, 255, 255, 0.2) solid;
  color: #ffffff;
  text-wrap: nowrap;
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  width: -moz-fit-content;
  width: fit-content;
  padding: 12px 24px;
  border-radius: 16px;
  animation: FromBottom 1s 2s backwards ease-in-out, bounce 1s 4s ease;
}

.halfpage-1 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 600px;
  background-color: #5c2811;
  overflow: hidden;
}
.halfpage-1 .hp1-shape1 {
  fill: #f9b960;
  position: absolute;
  animation: FromTop 1s 1s backwards ease-in-out;
}
.halfpage-1 .logo-container {
  position: relative;
  transform: translate(-50%, 0%);
  top: 0;
  left: 50%;
  margin-top: 20px;
  height: 80px;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 140px;
  background: #e71b1b;
  border-radius: 12px;
  overflow: hidden;
  padding: 8px;
  z-index: 2;
  box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
  animation: LogoToTop 1.5s backwards cubic-bezier(0.74, -0.22, 0.89, 0.91);
}
.halfpage-1 .logo-container .logo-img {
  height: 100%;
  max-width: 100%;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.halfpage-1 .creative-text {
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  color: #fff;
  font-weight: 600;
  padding: 0 24px;
  margin: auto;
  animation: Appear 1s 2s backwards ease-in-out;
}
.halfpage-1 .creative-button {
  background-color: #e71b1b;
  border: 1px rgba(255, 255, 255, 0.2) solid;
  color: #ffffff;
  text-wrap: nowrap;
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  width: -moz-fit-content;
  width: fit-content;
  padding: 12px 24px;
  border-radius: 16px;
  margin: 0 auto 0 auto;
  animation: FromBottom 1s 2s backwards ease-in-out, bounce 1s 4s ease;
}
.halfpage-1 .creative-img-container {
  width: 272px;
  height: 252px;
  margin: auto auto 0 auto;
  border-radius: 48px 48px 0px 0px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  transform: translateY(5px);
  border: 6px rgba(255, 255, 255, 0.2509803922) solid;
  overflow: hidden;
  z-index: 1;
  animation: FromBottom 1s 1s backwards ease-in-out;
}
.halfpage-1 .creative-img-container .creative-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.halfpage-1 .hp1-shape2 {
  position: absolute;
  fill: #f9b960;
  bottom: 0;
  animation: FromBottom 1s 2s backwards ease-in-out;
}

.halfpage-2 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 600px;
  background-color: #5c2811;
  overflow: hidden;
}
.halfpage-2 .shape {
  animation: BlurredDrop 1.5s backwards cubic-bezier(0.74, -0.22, 0.89, 0.91);
}
.halfpage-2 .hp2-shape1 {
  position: absolute;
  fill: #f9b960;
  left: 0;
}
.halfpage-2 .hp2-shape2 {
  position: absolute;
  fill: #f9b960;
  right: 0;
}
.halfpage-2 .hp2-shape3 {
  position: absolute;
  fill: #f9b960;
  left: 0;
  top: 45%;
}
.halfpage-2 .hp2-shape4 {
  position: absolute;
  fill: #f9b960;
  right: 4%;
  top: 52%;
  z-index: 2;
}
.halfpage-2 .hp2-shape5 {
  position: absolute;
  fill: #f9b960;
  left: 0;
  bottom: 0;
}
.halfpage-2 .hp2-shape6 {
  position: absolute;
  fill: #f9b960;
  right: 0;
  bottom: 0;
}
.halfpage-2 .logo-container {
  position: relative;
  transform: translate(-50%, 0%);
  top: 0;
  left: 50%;
  margin-top: 20px;
  height: 80px;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 140px;
  background: #e71b1b;
  border-radius: 12px;
  overflow: hidden;
  padding: 8px;
  z-index: 1;
  box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
  animation: LogoToTop 1.5s backwards cubic-bezier(0.74, -0.22, 0.89, 0.91);
}
.halfpage-2 .logo-container .logo-img {
  height: 100%;
  max-width: 100%;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.halfpage-2 .creative-text {
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  color: #fff;
  font-weight: 600;
  padding: 0 24px;
  margin: auto;
  animation: Appear 1s 2s backwards ease-in-out;
}
.halfpage-2 .creative-img-container {
  width: 286px;
  height: 202px;
  margin: 0px auto 24px auto;
  border-radius: 900px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 6px rgba(255, 255, 255, 0.2509803922) solid;
  overflow: hidden;
  z-index: 1;
  animation: FromBottom 1s 1s backwards ease-in-out;
}
.halfpage-2 .creative-img-container .creative-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.halfpage-2 .creative-button {
  background-color: #e71b1b;
  border: 1px rgba(255, 255, 255, 0.2) solid;
  color: #ffffff;
  text-wrap: nowrap;
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  width: -moz-fit-content;
  width: fit-content;
  padding: 12px 24px;
  border-radius: 16px;
  margin: 0px auto 32px auto;
  animation: FromBottom 1s 2s backwards ease-in-out, bounce 1s 4s ease;
}

.halfpage-3 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 600px;
  background-color: #5c2811;
  overflow: hidden;
}
.halfpage-3 .shape {
  animation: BlurredDrop 1.5s backwards cubic-bezier(0.74, -0.22, 0.89, 0.91);
}
.halfpage-3 .hp3-shape1 {
  position: absolute;
  fill: #f9b960;
  top: 0;
}
.halfpage-3 .hp3-shape2 {
  position: absolute;
  fill: #f9b960;
  top: 52%;
  z-index: 2;
}
.halfpage-3 .logo-container {
  position: relative;
  transform: translate(-50%, 0%);
  top: 0;
  left: 50%;
  margin-top: 20px;
  height: 80px;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 140px;
  background: #e71b1b;
  border-radius: 12px;
  overflow: hidden;
  padding: 8px;
  z-index: 2;
  box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
  animation: LogoToTop 1.5s backwards cubic-bezier(0.74, -0.22, 0.89, 0.91);
}
.halfpage-3 .logo-container .logo-img {
  height: 100%;
  max-width: 100%;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.halfpage-3 .creative-text {
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  color: #fff;
  font-weight: 600;
  padding: 0 24px;
  margin: auto;
  animation: Appear 1s 2s backwards ease-in-out;
}
.halfpage-3 .creative-button {
  background-color: #e71b1b;
  border: 1px rgba(255, 255, 255, 0.2) solid;
  color: #ffffff;
  text-wrap: nowrap;
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 0 auto;
  padding: 12px 24px;
  border-radius: 16px;
  z-index: 1;
  animation: FromBottom 1s 2s backwards ease-in-out, bounce 1s 4s ease;
}
.halfpage-3 .creative-img-container {
  position: relative;
  width: 300px;
  height: 258px;
  margin-top: auto;
  z-index: 1;
  animation: BlurredDrop 1.5s backwards cubic-bezier(0.74, -0.22, 0.89, 0.91);
}
.halfpage-3 .creative-img-container .BG-overlap {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 14px;
  width: 100%;
  border-radius: 0 0 100% 100%;
  background-color: #5c2811;
}
.halfpage-3 .creative-img-container .creative-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.halfpage-4 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 600px;
  background-color: #5c2811;
  overflow: hidden;
}
.halfpage-4 .logo-container {
  position: absolute;
  align-self: center;
  height: 80px;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 140px;
  background: #e71b1b;
  border-radius: 0px 0px 12px 12px;
  overflow: hidden;
  padding: 8px;
  z-index: 2;
  box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
  animation: FromTop 1.5s 1s backwards cubic-bezier(0.74, -0.22, 0.89, 0.91);
}
.halfpage-4 .logo-container .logo-img {
  height: 100%;
  max-width: 100%;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.halfpage-4 .shape-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
  border-radius: 0 0 32px 32px;
  width: 100%;
  overflow: hidden;
  animation: FromTop 1s 0s backwards ease-in-out;
}
.halfpage-4 .shape-container .shape-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  fill: #f9b960;
}
.halfpage-4 .shape-container .creative-img-container {
  width: 278px;
  height: 278px;
  border-radius: 24px;
  margin-top: 40px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 6px rgba(255, 255, 255, 0.2509803922) solid;
  overflow: hidden;
  z-index: 1;
}
.halfpage-4 .shape-container .creative-img-container .creative-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.halfpage-4 .creative-text {
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  color: #fff;
  font-weight: 600;
  padding: 0 24px;
  margin: auto;
  animation: Appear 1s 1s backwards ease-in-out;
}
.halfpage-4 .creative-button {
  background-color: #e71b1b;
  border: 1px rgba(255, 255, 255, 0.2) solid;
  color: #ffffff;
  text-wrap: nowrap;
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  width: -moz-fit-content;
  width: fit-content;
  padding: 12px 24px;
  border-radius: 16px;
  margin: 0 auto 36px auto;
  animation: FromBottom 1s 2s backwards ease-in-out, bounce 1s 4s ease;
}

.maxiboard-1 {
  position: relative;
  display: flex;
  width: 970px;
  height: 150px;
  background-color: #5c2811;
  overflow: hidden;
}
.maxiboard-1 .mb1-shape1 {
  position: absolute;
  fill: #f9b960;
  left: 0;
  animation: FromLeft 1s 2s backwards ease-in-out;
}
.maxiboard-1 .creative-img-container {
  width: 208px;
  height: 136px;
  margin: auto auto auto 0;
  border-radius: 0px 32px 32px 0px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 4px rgba(255, 255, 255, 0.2509803922) solid;
  overflow: hidden;
  transform: translateX(-4px);
  z-index: 1;
  animation: FromLeft 1s 1s backwards ease-in-out;
}
.maxiboard-1 .creative-img-container .creative-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.maxiboard-1 .text-container {
  display: flex;
  align-items: center;
  max-width: 508px;
  margin: auto 0 auto 0;
  gap: 16px;
}
.maxiboard-1 .text-container .creative-text {
  font-size: 24px;
  line-height: 36px;
  min-width: 320px;
  color: #fff;
  font-weight: 600;
  animation: Appear 1s 2s backwards ease-in-out;
}
.maxiboard-1 .text-container .creative-button {
  background-color: #e71b1b;
  border: 1px rgba(255, 255, 255, 0.2) solid;
  color: #ffffff;
  text-wrap: nowrap;
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  width: -moz-fit-content;
  width: fit-content;
  padding: 12px 24px;
  border-radius: 16px;
  animation: FromBottom 1s 3s backwards ease-in-out, bounce 1s 4s ease;
}
.maxiboard-1 .logo-container {
  position: relative;
  transform: translate(0%, -50%);
  top: 50%;
  left: 0;
  margin: 0 auto 0 auto;
  height: 84px;
  max-width: 140px;
  background: #e71b1b;
  border-radius: 16px;
  overflow: hidden;
  padding: 10px;
  z-index: 1;
  box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
  animation: LogoToRight 1.5s backwards cubic-bezier(0.74, -0.22, 0.89, 0.91);
}
.maxiboard-1 .logo-container .logo-img {
  height: 100%;
  max-width: 100%;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.maxiboard-1 .mb1-shape2 {
  position: absolute;
  fill: #f9b960;
  right: 0;
  animation: FromRight 1s 1s backwards ease-in-out;
}

.maxiboard-2 {
  position: relative;
  display: flex;
  width: 970px;
  height: 150px;
  background-color: #5c2811;
  overflow: hidden;
}
.maxiboard-2 .shape {
  animation: BlurredDrop 1.5s backwards cubic-bezier(0.74, -0.22, 0.89, 0.91);
}
.maxiboard-2 .mb2-shape1 {
  position: absolute;
  fill: #f9b960;
  left: 0;
  top: 0;
}
.maxiboard-2 .mb2-shape2 {
  position: absolute;
  fill: #f9b960;
  left: 7%;
  bottom: 0;
}
.maxiboard-2 .mb2-shape3 {
  position: absolute;
  fill: #f9b960;
  top: 12%;
  left: 36%;
  z-index: 2;
}
.maxiboard-2 .mb2-shape4 {
  position: absolute;
  fill: #f9b960;
  top: 0;
  right: 16%;
}
.maxiboard-2 .mb2-shape5 {
  position: absolute;
  fill: #f9b960;
  bottom: 0;
  right: 20%;
}
.maxiboard-2 .mb2-shape6 {
  position: absolute;
  fill: #f9b960;
  bottom: 0;
  right: 0;
}
.maxiboard-2 .logo-container {
  position: relative;
  transform: translate(0, -50%);
  top: 50%;
  left: 0;
  margin: 0 auto 0 auto;
  height: 84px;
  max-width: 140px;
  background: #e71b1b;
  border-radius: 16px;
  overflow: hidden;
  padding: 10px;
  z-index: 1;
  box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
  animation: LogoToLeft 1.5s backwards cubic-bezier(0.74, -0.22, 0.89, 0.91);
}
.maxiboard-2 .logo-container .logo-img {
  height: 100%;
  max-width: 100%;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.maxiboard-2 .creative-img-container {
  width: 218px;
  height: 138px;
  margin: auto 0 auto 0;
  border-radius: 900px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 4px rgba(255, 255, 255, 0.2509803922) solid;
  overflow: hidden;
  animation: FromBottom 1s 1s backwards ease-in-out;
}
.maxiboard-2 .creative-img-container .creative-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.maxiboard-2 .text-container {
  display: flex;
  align-items: center;
  max-width: 508px;
  margin: auto;
  gap: 16px;
}
.maxiboard-2 .text-container .creative-text {
  font-size: 24px;
  line-height: 36px;
  min-width: 320px;
  color: #fff;
  font-weight: 600;
  animation: Appear 1s 2s backwards ease-in-out;
}
.maxiboard-2 .text-container .creative-button {
  background-color: #e71b1b;
  border: 1px rgba(255, 255, 255, 0.2) solid;
  color: #ffffff;
  text-wrap: nowrap;
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  width: -moz-fit-content;
  width: fit-content;
  padding: 12px 24px;
  border-radius: 16px;
  z-index: 1;
  animation: FromBottom 1s 2s backwards ease-in-out, bounce 1s 4s ease;
}

.maxiboard-3 {
  position: relative;
  display: flex;
  width: 970px;
  height: 150px;
  background-color: #5c2811;
  overflow: hidden;
}
.maxiboard-3 .creative-img-container {
  position: relative;
  width: 218px;
  height: 150px;
  margin: auto auto auto 0;
  z-index: 1;
  animation: BlurredDrop 1.5s backwards cubic-bezier(0.74, -0.22, 0.89, 0.91);
}
.maxiboard-3 .creative-img-container .BG-overlap {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  height: 100%;
  width: 10px;
  border-radius: 100% 0 0 100%;
  background-color: #5c2811;
}
.maxiboard-3 .creative-img-container .creative-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.maxiboard-3 .shape {
  animation: BlurredDrop 1.5s backwards cubic-bezier(0.74, -0.22, 0.89, 0.91);
}
.maxiboard-3 .mb3-shape1 {
  position: absolute;
  fill: #f9b960;
  z-index: 2;
  left: 21%;
}
.maxiboard-3 .mb3-shape2 {
  position: absolute;
  fill: #f9b960;
  z-index: 1;
  right: 0;
}
.maxiboard-3 .text-container {
  display: flex;
  align-items: center;
  max-width: 508px;
  margin: auto 0 auto 0;
  gap: 16px;
  z-index: 1;
}
.maxiboard-3 .text-container .creative-text {
  font-size: 24px;
  line-height: 36px;
  min-width: 320px;
  color: #fff;
  font-weight: 600;
  animation: Appear 1s 2s backwards ease-in-out;
}
.maxiboard-3 .text-container .creative-button {
  background-color: #e71b1b;
  border: 1px rgba(255, 255, 255, 0.2) solid;
  color: #ffffff;
  text-wrap: nowrap;
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  width: -moz-fit-content;
  width: fit-content;
  padding: 12px 24px;
  border-radius: 16px;
  animation: FromBottom 1s 2s backwards ease-in-out, bounce 1s 4s ease;
}
.maxiboard-3 .logo-container {
  position: relative;
  transform: translate(0%, -50%);
  top: 50%;
  left: 0;
  margin: 0 auto 0 auto;
  height: 84px;
  max-width: 140px;
  background: #e71b1b;
  border-radius: 16px;
  overflow: hidden;
  padding: 10px;
  z-index: 2;
  box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
  animation: LogoToRight 1.5s backwards cubic-bezier(0.74, -0.22, 0.89, 0.91);
}
.maxiboard-3 .logo-container .logo-img {
  height: 100%;
  max-width: 100%;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.maxiboard-4 {
  position: relative;
  display: flex;
  width: 970px;
  height: 150px;
  background-color: #5c2811;
  overflow: hidden;
}
.maxiboard-4 .shape-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 32px;
  padding: 0 8px 0 32px;
  border-radius: 0 24px 24px 0;
  height: 100%;
  overflow: hidden;
  animation: FromLeft 1s 0s backwards ease-in-out;
}
.maxiboard-4 .shape-container .shape-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  fill: #f9b960;
}
.maxiboard-4 .shape-container .logo-container {
  margin: auto;
  height: 84px;
  max-width: 140px;
  background: #e71b1b;
  border-radius: 16px;
  overflow: hidden;
  padding: 10px;
  z-index: 1;
  box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
  animation: Appear 1s 1s backwards ease-in-out;
}
.maxiboard-4 .shape-container .logo-container .logo-img {
  height: 100%;
  max-width: 100%;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.maxiboard-4 .shape-container .creative-img-container {
  width: 200px;
  height: 136px;
  border-radius: 16px;
  border: 4px rgba(255, 255, 255, 0.2509803922) solid;
  overflow: hidden;
  z-index: 1;
}
.maxiboard-4 .shape-container .creative-img-container .creative-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.maxiboard-4 .text-container {
  display: flex;
  align-items: center;
  margin: auto;
  gap: 24px;
}
.maxiboard-4 .text-container .creative-text {
  font-size: 24px;
  line-height: 36px;
  width: 320px;
  color: #fff;
  font-weight: 600;
  animation: Appear 1s 1s backwards ease-in-out;
}
.maxiboard-4 .text-container .creative-button {
  background-color: #e71b1b;
  border: 1px rgba(255, 255, 255, 0.2) solid;
  color: #ffffff;
  text-wrap: nowrap;
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  width: -moz-fit-content;
  width: fit-content;
  padding: 12px 24px;
  border-radius: 16px;
  animation: FromBottom 1s 2s backwards ease-in-out, bounce 1s 4s ease;
}

.superleaderboard-1 {
  position: relative;
  display: flex;
  width: 970px;
  height: 90px;
  background-color: #5c2811;
  overflow: hidden;
}
.superleaderboard-1 .sl1-shape1 {
  position: absolute;
  fill: #f9b960;
  left: 0;
  animation: FromLeft 1s 2s backwards ease-in-out;
}
.superleaderboard-1 .creative-img-container {
  width: 128px;
  height: 80px;
  margin: auto auto auto 0;
  border-radius: 0px 16px 16px 0px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 2px rgba(255, 255, 255, 0.2509803922) solid;
  overflow: hidden;
  transform: translateX(-2px);
  z-index: 1;
  animation: FromLeft 1s 1s backwards ease-in-out;
}
.superleaderboard-1 .creative-img-container .creative-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.superleaderboard-1 .text-container {
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: auto 0 auto 0;
  gap: 16px;
}
.superleaderboard-1 .text-container .creative-text {
  font-size: 20px;
  line-height: 32px;
  min-width: 400px;
  color: #fff;
  font-weight: 600;
  animation: Appear 1s 2s backwards ease-in-out;
}
.superleaderboard-1 .text-container .creative-button {
  background-color: #e71b1b;
  border: 1px rgba(255, 255, 255, 0.2) solid;
  color: #ffffff;
  text-wrap: nowrap;
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  width: -moz-fit-content;
  width: fit-content;
  padding: 12px 24px;
  border-radius: 16px;
  animation: FromBottom 1s 3s backwards ease-in-out, bounce 1s 4s ease;
}
.superleaderboard-1 .logo-container {
  position: relative;
  transform: translate(0%, -50%);
  top: 50%;
  left: 0;
  margin: 0 auto 0 auto;
  height: 68px;
  max-width: 120px;
  background: #e71b1b;
  border-radius: 12px;
  overflow: hidden;
  padding: 6px;
  z-index: 1;
  box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
  animation: LogoToRight 1.5s backwards cubic-bezier(0.74, -0.22, 0.89, 0.91);
}
.superleaderboard-1 .logo-container .logo-img {
  height: 100%;
  max-width: 100%;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.superleaderboard-1 .sl1-shape2 {
  position: absolute;
  fill: #f9b960;
  right: 0;
  animation: FromRight 1s 1s backwards ease-in-out;
}

.superleaderboard-2 {
  position: relative;
  display: flex;
  width: 970px;
  height: 90px;
  background-color: #5c2811;
  overflow: hidden;
}
.superleaderboard-2 .shape {
  animation: BlurredDrop 1.5s backwards cubic-bezier(0.74, -0.22, 0.89, 0.91);
}
.superleaderboard-2 .sl2-shape1 {
  position: absolute;
  fill: #f9b960;
  left: 0;
  top: 0;
}
.superleaderboard-2 .sl2-shape2 {
  position: absolute;
  fill: #f9b960;
  left: 5%;
  bottom: 0;
}
.superleaderboard-2 .sl2-shape3 {
  position: absolute;
  fill: #f9b960;
  top: 12%;
  left: 30%;
  z-index: 2;
}
.superleaderboard-2 .sl2-shape4 {
  position: absolute;
  fill: #f9b960;
  top: 0;
  right: 13%;
}
.superleaderboard-2 .sl2-shape5 {
  position: absolute;
  fill: #f9b960;
  bottom: 0;
  right: 20%;
}
.superleaderboard-2 .sl2-shape6 {
  position: absolute;
  fill: #f9b960;
  bottom: 0;
  right: 0;
}
.superleaderboard-2 .logo-container {
  position: relative;
  transform: translate(0, -50%);
  top: 50%;
  left: 0;
  margin: 0 auto 0 auto;
  height: 68px;
  max-width: 120px;
  background: #e71b1b;
  border-radius: 12px;
  overflow: hidden;
  padding: 6px;
  z-index: 1;
  box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
  animation: LogoToLeft 1.5s backwards cubic-bezier(0.74, -0.22, 0.89, 0.91);
}
.superleaderboard-2 .logo-container .logo-img {
  height: 100%;
  max-width: 100%;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.superleaderboard-2 .creative-img-container {
  width: 132px;
  height: 82px;
  margin: auto 0 auto 0;
  border-radius: 900px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 2px rgba(255, 255, 255, 0.2509803922) solid;
  overflow: hidden;
  animation: FromBottom 1s 1s backwards ease-in-out;
}
.superleaderboard-2 .creative-img-container .creative-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.superleaderboard-2 .text-container {
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: auto;
  gap: 16px;
}
.superleaderboard-2 .text-container .creative-text {
  font-size: 20px;
  line-height: 32px;
  min-width: 400px;
  color: #fff;
  font-weight: 600;
  animation: Appear 1s 2s backwards ease-in-out;
}
.superleaderboard-2 .text-container .creative-button {
  background-color: #e71b1b;
  border: 1px rgba(255, 255, 255, 0.2) solid;
  color: #ffffff;
  text-wrap: nowrap;
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  width: -moz-fit-content;
  width: fit-content;
  padding: 12px 24px;
  border-radius: 16px;
  z-index: 1;
  animation: FromBottom 1s 2s backwards ease-in-out, bounce 1s 4s ease;
}

.superleaderboard-3 {
  position: relative;
  display: flex;
  width: 970px;
  height: 90px;
  background-color: #5c2811;
  overflow: hidden;
}
.superleaderboard-3 .creative-img-container {
  position: relative;
  width: 139px;
  height: 90px;
  margin: auto auto auto 0;
  z-index: 1;
  animation: BlurredDrop 1.5s backwards cubic-bezier(0.74, -0.22, 0.89, 0.91);
}
.superleaderboard-3 .creative-img-container .BG-overlap {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  height: 100%;
  width: 10px;
  border-radius: 100% 0 0 100%;
  background-color: #5c2811;
}
.superleaderboard-3 .creative-img-container .creative-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.superleaderboard-3 .shape {
  animation: BlurredDrop 1.5s backwards cubic-bezier(0.74, -0.22, 0.89, 0.91);
}
.superleaderboard-3 .sl3-shape1 {
  position: absolute;
  fill: #f9b960;
  z-index: 2;
  left: 13%;
}
.superleaderboard-3 .sl3-shape2 {
  position: absolute;
  fill: #f9b960;
  z-index: 1;
  right: 0;
}
.superleaderboard-3 .text-container {
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: auto 0 auto 0;
  gap: 16px;
  z-index: 1;
}
.superleaderboard-3 .text-container .creative-text {
  font-size: 20px;
  line-height: 32px;
  min-width: 400px;
  color: #fff;
  font-weight: 600;
  animation: Appear 1s 2s backwards ease-in-out;
}
.superleaderboard-3 .text-container .creative-button {
  background-color: #e71b1b;
  border: 1px rgba(255, 255, 255, 0.2) solid;
  color: #ffffff;
  text-wrap: nowrap;
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  width: -moz-fit-content;
  width: fit-content;
  padding: 12px 24px;
  border-radius: 16px;
  animation: FromBottom 1s 2s backwards ease-in-out, bounce 1s 4s ease;
}
.superleaderboard-3 .logo-container {
  position: relative;
  transform: translate(0%, -50%);
  top: 50%;
  left: 0;
  margin: 0 auto 0 auto;
  height: 68px;
  max-width: 120px;
  background: #e71b1b;
  border-radius: 12px;
  overflow: hidden;
  padding: 6px;
  z-index: 2;
  box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
  animation: LogoToRight 1.5s backwards cubic-bezier(0.74, -0.22, 0.89, 0.91);
}
.superleaderboard-3 .logo-container .logo-img {
  height: 100%;
  max-width: 100%;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.superleaderboard-4 {
  position: relative;
  display: flex;
  width: 970px;
  height: 90px;
  background-color: #5c2811;
  overflow: hidden;
}
.superleaderboard-4 .shape-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 32px;
  padding: 0 4px 0 32px;
  border-radius: 0 16px 16px 0;
  height: 100%;
  overflow: hidden;
  animation: FromLeft 1s 0s backwards ease-in-out;
}
.superleaderboard-4 .shape-container .shape-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  fill: #f9b960;
}
.superleaderboard-4 .shape-container .logo-container {
  margin: auto;
  height: 68px;
  max-width: 120px;
  background: #e71b1b;
  border-radius: 12px;
  overflow: hidden;
  padding: 6px;
  z-index: 1;
  box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
  animation: Appear 1s 1s backwards ease-in-out;
}
.superleaderboard-4 .shape-container .logo-container .logo-img {
  height: 100%;
  max-width: 100%;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.superleaderboard-4 .shape-container .creative-img-container {
  width: 120px;
  height: 82px;
  border-radius: 12px;
  border: 2px rgba(255, 255, 255, 0.2509803922) solid;
  overflow: hidden;
  z-index: 1;
}
.superleaderboard-4 .shape-container .creative-img-container .creative-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.superleaderboard-4 .text-container {
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: auto;
  gap: 16px;
}
.superleaderboard-4 .text-container .creative-text {
  font-size: 20px;
  line-height: 32px;
  min-width: 400px;
  color: #fff;
  font-weight: 600;
  animation: Appear 1s 1s backwards ease-in-out;
}
.superleaderboard-4 .text-container .creative-button {
  background-color: #e71b1b;
  border: 1px rgba(255, 255, 255, 0.2) solid;
  color: #ffffff;
  text-wrap: nowrap;
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  width: -moz-fit-content;
  width: fit-content;
  padding: 12px 24px;
  border-radius: 16px;
  animation: FromBottom 1s 2s backwards ease-in-out, bounce 1s 4s ease;
}

.retangulomedio-1 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 250px;
  background-color: #5c2811;
  overflow: hidden;
}
.retangulomedio-1 .rm1-shape1 {
  position: absolute;
  fill: #f9b960;
  bottom: 0;
  animation: FromBottom 1s 1s backwards ease-in-out;
}
.retangulomedio-1 .presentation-logo {
  position: absolute;
  margin: auto;
  inset: 0;
  height: 0;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 0;
  opacity: 0;
  filter: blur(16px);
  background: #e71b1b;
  border-radius: 16px;
  overflow: hidden;
  padding: 6px;
  z-index: 2;
  box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
  animation: BlurredDrop2 3s backwards cubic-bezier(0.74, -0.22, 0.89, 0.91);
}
.retangulomedio-1 .presentation-logo .logo-img {
  height: 100%;
  max-width: 100%;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.retangulomedio-1 .logo-container {
  position: absolute;
  top: 0;
  right: 0;
  height: 64px;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 140px;
  background: #e71b1b;
  border-radius: 12px 0px 12px 12px;
  overflow: hidden;
  padding: 6px;
  z-index: 2;
  box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
  animation: FromRight 1s 2.5s backwards ease-in-out;
}
.retangulomedio-1 .logo-container .logo-img {
  height: 100%;
  max-width: 100%;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.retangulomedio-1 .creative-img-container {
  width: 276px;
  height: 206px;
  margin: auto;
  border-radius: 14px;
  margin-top: 12px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 4px rgba(255, 255, 255, 0.2509803922) solid;
  overflow: hidden;
  z-index: 1;
  animation: FromBottom 1s 2.5s backwards ease-in-out;
}
.retangulomedio-1 .creative-img-container .creative-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.retangulomedio-1 .creative-button {
  margin: -24px auto 12px auto;
  background-color: #e71b1b;
  border: 1px rgba(255, 255, 255, 0.2) solid;
  color: #ffffff;
  text-wrap: nowrap;
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  width: -moz-fit-content;
  width: fit-content;
  padding: 12px 24px;
  border-radius: 16px;
  z-index: 2;
  animation: FromBottom 1s 4s backwards ease-in-out, bounce 1s 6s ease;
}/*# sourceMappingURL=style.css.map */