@use "../styles" as *;

// BILLBOARD 1

.billboard-1 {
    position: relative;
    display: flex;
    align-items: center;
    width: 970px;
    height: 250px;
    background-color: $BannerBG;
    overflow: hidden;


    .bb1-shape1 {
        position: absolute;
        fill: $Shape;
        left: 0;
        animation: FromLeft 1s 2s backwards ease-in-out;
    }

    .creative-img-container {
        width: 340px;
        height: 222px;
        border-radius: 0px 48px 48px 0px;
        backdrop-filter: blur(10px);
        border: 6px #ffffff40 solid;
        overflow: hidden;
        transform: translateX(-6px);
        z-index: 1;
        animation: FromLeft 1s 1s backwards ease-in-out;

        .creative-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .text-container {
        display: flex;
        flex-direction: column;
        max-width: 360px;
        margin-left: 40px;
        gap: 24px;

        .creative-text {
            font-size: 28px;
            line-height: 38px;
            color: $MainText;
            font-weight: 600;
            animation: Appear 1s 2s backwards ease-in-out;
        }

        .creative-button {
            background-color: $ButtonBG;
            border: 1px rgba(255, 255, 255, 0.2) solid;
            color: $ButtonText;
            text-wrap: nowrap;
            font-family: Inter;
            font-size: 18px;
            font-weight: 700;
            width: fit-content;
            padding: 12px 24px;
            border-radius: 16px;
            animation: FromBottom 1s 3s backwards ease-in-out,
                bounce 1s 4s ease;
        }
    }


    .logo-container {
        margin: auto;
        height: 120px;
        // Mudar para 60px para logos com aspect-ratio horizontal
        max-width: 180px;
        background: $LogoBG;
        border-radius: 16px;
        overflow: hidden;
        padding: 10px;
        z-index: 1;
        box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
        animation: LogoToRight 1.5s backwards cubic-bezier(.74, -0.22, .89, .91);


        .logo-img {
            height: 100%;
            max-width: 100%;
            width: auto;
            object-fit: contain;
        }
    }


    .bb1-shape2 {
        position: absolute;
        fill: $Shape;
        right: 0;
        animation: FromRight 1s 1s backwards ease-in-out;
    }
}