@use "../styles" as *;

// HALF-PAGE 2

.halfpage-2 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 600px;
    background-color: $BannerBG;
    overflow: hidden;

    .shape {
        animation: BlurredDrop 1.5s backwards cubic-bezier(.74, -0.22, .89, .91);
    }

    .hp2-shape1 {
        position: absolute;
        fill: $Shape;
        left: 0;
    }

    .hp2-shape2 {
        position: absolute;
        fill: $Shape;
        right: 0;
    }

    .hp2-shape3 {
        position: absolute;
        fill: $Shape;
        left: 0;
        top: 45%;
    }

    .hp2-shape4 {
        position: absolute;
        fill: $Shape;
        right: 4%;
        top: 52%;
        z-index: 2;
    }

    .hp2-shape5 {
        position: absolute;
        fill: $Shape;
        left: 0;
        bottom: 0;
    }

    .hp2-shape6 {
        position: absolute;
        fill: $Shape;
        right: 0;
        bottom: 0;
    }


    .logo-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 24px;
        height: 80px;
        // Mudar para 60px para logos com aspect-ratio horizontal
        max-width: 140px;
        background: $LogoBG;
        border-radius: 12px;
        overflow: hidden;
        padding: 8px;
        z-index: 1;
        box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
        animation: Logo 1.5s backwards cubic-bezier(.74, -0.22, .89, .91);

        .logo-img {
            height: 100%;
            max-width: 100%;
            width: auto;
            object-fit: contain;
        }
    }

    .creative-text {
        font-size: 26px;
        line-height: 32px;
        text-align: center;
        color: $MainText;
        max-width: 100%;
        font-weight: 600;
        padding: 0 24px;
        margin: auto;
        animation: Appear 1s 2s backwards ease-in-out;
    }

    .creative-img-container {
        width: 286px;
        height: 202px;
        margin: 0px auto 28px auto;
        border-radius: 900px;
        backdrop-filter: blur(10px);
        border: 6px #ffffff40 solid;
        overflow: hidden;
        z-index: 1;
        animation: FromBottom 1s 1s backwards ease-in-out;

        .creative-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .creative-button {
        background-color: $ButtonBG;
        border: 1px rgba(255, 255, 255, 0.2) solid;
        color: $ButtonText;
        text-wrap: nowrap;
        font-family: Inter;
        font-size: 18px;
        font-weight: 700;
        width: fit-content;
        padding: 12px 24px;
        border-radius: 16px;
        margin: 0px auto 36px auto;
        animation: FromBottom 1s 2s backwards ease-in-out,
            bounce 1s 4s ease;
    }

}