@use "../styles" as *;


// HALF-PAGE 1

.halfpage-4 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 600px;
    background-color: $BannerBG;
    overflow: hidden;

    .shape-container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        padding-bottom: 16px;
        border-radius: 0 0 32px 32px;
        width: 100%;
        overflow: hidden;

        .shape-bg {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
            fill: $Shape;
        }

        .logo-container {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 80px;
            // Mudar para 60px para logos com aspect-ratio horizontal
            max-width: 140px;
            background: $LogoBG;
            border-radius: 0px 0px 12px 12px;
            overflow: hidden;
            padding: 8px;
            z-index: 2;
            box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;

            .logo-img {
                height: 100%;
                max-width: 100%;
                width: auto;
                object-fit: contain;
            }
        }

        .creative-img-container {
            width: 278px;
            height: 278px;
            border-radius: 24px;
            margin-top: 40px;
            backdrop-filter: blur(10px);
            background-color: rgba($Shape, 0.3);
            transform: translateY(5px);
            border: 1px rgba(255, 255, 255, 0.2) solid;
            z-index: 1;

            .creative-img {
                width: 100%;
                height: 100%;
                border-radius: 24px;
                object-fit: cover;
                transform: scale(.97);
            }
        }
    }


    .creative-text {
        font-size: 26px;
        line-height: 32px;
        text-align: center;
        color: $MainText;
        max-width: 100%;
        font-weight: 600;
        padding: 0 24px;
        margin: auto;
    }

    .creative-button {
        background-color: $ButtonBG;
        outline: 2px rgba(255, 255, 255, 0.2) solid;
        color: $ButtonText;
        text-wrap: nowrap;
        font-family: Inter;
        font-size: 18px;
        font-weight: 700;
        width: fit-content;
        padding: 12px 24px;
        border-radius: 16px;
        margin: 0 auto 36px auto;
    }
}