@use "../styles" as *;


// HALF-PAGE 1

.halfpage-1 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 600px;
    background-color: $BannerBG;
    overflow: hidden;

    .hp1-shape1 {
        fill: $Shape;
        position: absolute;
        animation: FromTop 1s 1s backwards ease-in-out;
    }

    .logo-container {
        margin-top: 24px;
        height: 80px;
        // Mudar para 60px para logos com aspect-ratio horizontal
        max-width: 140px;
        background: $LogoBG;
        border-radius: 12px;
        overflow: hidden;
        padding: 8px;
        z-index: 1;
        box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
        animation: LogoToTop 1.5s backwards cubic-bezier(.74,-0.22,.89,.91);

        .logo-img {
            height: 100%;
            max-width: 100%;
            width: auto;
            object-fit: contain;
        }
    }

    .creative-text {
        font-size: 26px;
        line-height: 32px;
        text-align: center;
        color: $MainText;
        font-weight: 600;
        padding: 0 24px;
        margin: auto;
        animation: Appear 1s 2s backwards ease-in-out; 
    }

    .creative-button {
        background-color: $ButtonBG;
        border: 1px rgba(255, 255, 255, 0.2) solid;
        color: $ButtonText;
        text-wrap: nowrap;
        font-family: Inter;
        font-size: 18px;
        font-weight: 700;
        width: fit-content;
        padding: 12px 24px;
        border-radius: 16px;
        animation: FromBottom 1s 2s backwards ease-in-out,
                   bounce 1s 4s ease;
        
    }

    .creative-img-container {
        width: 272px;
        height: 252px;
        border-radius: 48px 48px 0px 0px;
        margin-top: auto;
        backdrop-filter: blur(10px);
        transform: translateY(5px);
        border: 6px #ffffff40 solid;
        overflow: hidden;
        z-index: 1;
        animation: FromBottom 1s 1s backwards ease-in-out;

        .creative-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .hp1-shape2 {
        position: absolute;
        fill: $Shape;
        bottom: 0;
        animation: FromBottom 1s 2s backwards ease-in-out;
    }

}