@forward 'billboard-1';
@forward 'billboard-2';
@forward 'billboard-3';
@forward 'billboard-4';
@forward 'halfpage-1';
@forward 'halfpage-2';
@forward 'halfpage-3';
@forward 'halfpage-4';
@forward 'maxiboard-1';
@forward 'maxiboard-2';
@forward 'maxiboard-3';
@forward 'maxiboard-4';
@forward 'superleaderboard-1';
@forward 'superleaderboard-2';
@forward 'superleaderboard-3';
@forward 'superleaderboard-4';
@forward 'retangulomedio-1';
