@use "../styles" as *;

// MAXIBOARD 2

.maxiboard-2 {
    position: relative;
    display: flex;
    align-items: center;
    width: 970px;
    height: 150px;
    background-color: $BannerBG;
    overflow: hidden;

    .shape {
        animation: BlurredDrop 1.5s backwards cubic-bezier(.74, -0.22, .89, .91);
    }

    .mb2-shape1 {
        position: absolute;
        fill: $Shape;
        left: 0;
        top: 0;
    }

    .mb2-shape2 {
        position: absolute;
        fill: $Shape;
        left: 7%;
        bottom: 0;
    }

    .mb2-shape3 {
        position: absolute;
        fill: $Shape;
        top: 12%;
        left: 36%;
        z-index: 2;

    }

    .mb2-shape4 {
        position: absolute;
        fill: $Shape;
        top: 0;
        right: 16%;
        
    }

    .mb2-shape5 {
        position: absolute;
        fill: $Shape;
        bottom: 0;
        right: 20%;
    }

    .mb2-shape6 {
        position: absolute;
        fill: $Shape;
        bottom: 0;
        right: 0;
    }

    .logo-container {
        margin: auto;
        height: 84px;
        // Mudar para 60px para logos com aspect-ratio horizontal
        max-width: 140px;
        background: $LogoBG;
        border-radius: 16px;
        overflow: hidden;
        padding: 10px;
        z-index: 1;
        box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
        animation: LogoToLeft 1.5s backwards cubic-bezier(.74, -0.22, .89, .91);

        .logo-img {
            height: 100%;
            max-width: 100%;
            width: auto;
            object-fit: contain;
        }
    }

    .creative-img-container {
        width: 218px;
        height: 138px;
        border-radius: 900px;
        backdrop-filter: blur(10px);
        border: 4px #ffffff40 solid;
        overflow: hidden;
        animation: FromBottom 1s 1s backwards ease-in-out;

        .creative-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .text-container {
        display: flex;
        align-items: center;
        max-width: 508px;
        margin: auto;
        gap: 16px;

        .creative-text {
            font-size: 24px;
            line-height: 36px;
            min-width: 320px;
            color: $MainText;
            font-weight: 600;
            animation: Appear 1s 2s backwards ease-in-out;
        }

        .creative-button {
            background-color: $ButtonBG;
            border: 1px rgba(255, 255, 255, 0.2) solid;
            color: $ButtonText;
            text-wrap: nowrap;
            font-family: Inter;
            font-size: 16px;
            font-weight: 700;
            width: fit-content;
            padding: 12px 24px;
            border-radius: 16px;
            z-index: 1;
            animation: FromBottom 1s 2s backwards ease-in-out,
                bounce 1s 4s ease;
        }
    }
}