// colors
$BannerBG: #223926;
$LogoBG: #ffffff;
$MainText: #ffffff;
$ButtonBG: #3C1914;
$ButtonText: #ffffff;
$Shape: #BD6122;


// $BannerBG: #FFE5EC;
// $LogoBG: #ffffff;
// $MainText: #252422;
// $ButtonBG: #FB6F92;
// $ButtonText: #ffffff;
// $Shape: #FB6F92;

// $BannerBG: #FFFCF2;
// $LogoBG: #ffffff;
// $MainText: #252422;
// $ButtonBG: #252422;
// $ButtonText: #ffffff;
// $Shape: #EB5E28;

// $BannerBG: #fff4ca;
// $LogoBG: #ffffff;
// $MainText: #19140a;
// $ButtonBG: #3b1606;
// $ButtonText: #ffffff;
// $Shape: #ffd042;


// $BannerBG: #5c2811;
// $LogoBG: #e71b1b;
// $MainText: #fff;
// $ButtonBG: #e71b1b;
// $ButtonText: #ffffff;
// $Shape: #f9b960;
