// colors

//ORFEU

// $BannerBG: #223926;
// $LogoBG: #ffffff;
// $MainText: #ffffff;
// $ButtonBG: #3C1914;
// $ButtonText: #ffffff;
// $Shape: #BD6122;


//MCDONALDS

// $BannerBG: #5c2811;
// $LogoBG: #e71b1b;
// $MainText: #fff;
// $ButtonBG: #e71b1b;
// $ButtonText: #ffffff;
// $Shape: #f9b960;

//MILLIUM

// $BannerBG: #FF0012;
// $LogoBG: #fff;
// $MainText: #fff;
// $ButtonBG: #fff;
// $ButtonText: #2B2720;
// $Shape: #FDF002;

//LOCALIZA

// $BannerBG: #01602A;
// $LogoBG: #fff;
// $MainText: #fff;
// $ButtonBG: #F2720A;
// $ButtonText: #fff;
// $Shape: #78DE1F;

//AÇAÍ DA BARRA

// $BannerBG: #721CB8;
// $LogoBG: #fff;
// $MainText: #fff;
// $ButtonBG: #fff;
// $ButtonText: #421869;
// $Shape: #80C423;

//CASA DO CONSTRUTOR

// $BannerBG: #02408B;
// $LogoBG: #02408B;
// $MainText: #fff;
// $ButtonBG: #fff;
// $ButtonText: #02408B;
// $Shape: #FFCC01;

// MELISSA

// $BannerBG: #FFCCD5;
// $LogoBG: #fff;
// $MainText: #590D22;
// $ButtonBG: #C9184A;
// $ButtonText: #fff;
// $Shape: #FF4D6D;

// AREZZO

// $BannerBG: #fff;
// $LogoBG: #fff;
// $MainText: #010506;
// $ButtonBG: #010506;
// $ButtonText: #fff;
// $Shape: #010506;

// SANTANDER

// $BannerBG: #EC0000;
// $LogoBG: #fff;
// $MainText: #fff;
// $ButtonBG: #202020;
// $ButtonText: #fff;
// $Shape: #720505;

// 99 FOOD

// $BannerBG: #EFB601;
// $LogoBG: #FFDD00;
// $MainText: #202020;
// $ButtonBG: #202020;
// $ButtonText: #fff;
// $Shape: #202020;

// PAO DE AÇUCAR

$BannerBG: #00652E;
$LogoBG: #fff;
$MainText: #fff;
$ButtonBG: #05668D;
$ButtonText: #fff;
$Shape: #A5BE00;



