@use "colors" as *;


//reset
*,
*:before,
*:after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-family: "Inter", serif;

}

img {
    max-width: 100%;
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

button {
    box-shadow: none;
    border-style: none;
}

// Global Classes


// .BannerBG {
//     background-color: tomato !important;
// }

// .LogoBG {
//     background-color: wheat !important;
// }

// .MainText {
//     color: floralwhite !important;
    
// }

// .ButtonBG {
//     background-color: brown !important;
// }

// .ButtonText {
//     color: seashell !important;
// }

// .shape {
//     fill: gold !important;

// }