// ANIMAR A ENTRADA DESSE CRIATIVO**********

@keyframes FromBottom {
    0% {
        transform: translateY(200%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes FromTop {
    0% {
        transform: translateY(-200%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes Appear {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    80% {
        transform: scale(1.2);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}


@keyframes BlurredDrop {
    0% {
        transform: scale(16);
        filter: blur(16px);
    }

    100% {
        transform: scale(1);
        filter: blur(0px);
    }
}



@keyframes Logo {
    0% {
        transform: translateY(230px) scale(200%);
        border-radius: 12px;
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    100% {
        transform: translateY(0px) scale(1);
        border-radius: initial;
    }

}


@keyframes bounce {
    70% {
        transform: scale(1.2);
    }

    40%,
    60% {
        transform: rotate(-20deg) scale(1.2);
    }

    50% {
        transform: rotate(20deg) scale(1.2);
    }

    70% {
        transform: rotate(0deg) scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

// @keyframes Scale {
//     0% {
//         transform: scale(1.5);
//     }

//     100% {
//         transform: scale(1);
//     }
// }

// @keyframes Appear {
//     0% {
//         transform: translateY(100%);
//         opacity: 0;
//     }

//     100% {
//         transform: translateY(0%);
//         opacity: 1;
//     }
// }