// ANIMAR A ENTRADA DESSE CRIATIVO**********

@keyframes FromBottom {
    0% {
        transform: translateY(200%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes FromTop {
    0% {
        transform: translateY(-200%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes FromLeft {
    0% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes FromRight {
    0% {
        transform: translateX(200%);
    }

    100% {
        transform: translateY(0%);
    }
}



@keyframes Appear {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    80% {
        transform: scale(1.2);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}


@keyframes BlurredDrop {
    0% {
        transform: scale(16);
        filter: blur(16px);
    }

    100% {
        transform: scale(1);
        filter: blur(0px);
    }
}


@keyframes LogoToTop {
    0% {
        transform: translate(-50%, -50%) scale(3);
        top: 50%;
        left: 50%;
        margin: 0;
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

}


@keyframes LogoToRight {
    0% {
        transform: translate(50%, -50%) scale(1.6);
        top: 50%;
        left: -50%;
        margin: 0;
        opacity: 0;
    }

    20% {
        opacity: 1;
    }
}

@keyframes LogoToLeft {
    0% {
        transform: translate(-50%, -50%) scale(1.6);
        top: 50%;
        left: 50%;
        margin: 0;
        opacity: 0;
    }

    20% {
        opacity: 1;
    }
}


@keyframes bounce {
    70% {
        transform: scale(1.2);
    }

    40%,
    60% {
        transform: rotate(-20deg) scale(1.2);
    }

    50% {
        transform: rotate(20deg) scale(1.2);
    }

    70% {
        transform: rotate(0deg) scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}


@keyframes BlurredDrop2 {
    0% {
        transform: scale(8);
        filter: blur(16px);
        height: 160px;
        max-width: 260px;
        opacity: 1;
    }

    30% {
        transform: scale(1);
        filter: blur(0px);
    }

    90% {
        transform: scale(1);
        filter: blur(0px);
        height: 160px;
        max-width: 260px;
        opacity: 1;
    }

    100% {
    }
}