// Half-Page antigo

.halfpage-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 600px;
    background-color: #FC560C;
    margin: auto;

    .logo-container {
        display: flex;
        width: 80px;
        height: 80px;
        background-color: white;
        border-radius: 16px;
        margin-top: 24px;
        padding: 16px;

        .logo-img {
            object-fit: cover;
            margin: auto;
        }
    }

    .creative-text {
        font-size: 26px;
        text-align: center;
        color: white;
        max-width: 450px;
        font-weight: 600;
        padding: 24px;
    }

    .creative-button {
        bottom: 0;
        right: 0;
        background-color: #FC560C;
        border: 2px white solid;
        color: white;
        font-family: Inter;
        font-size: 16px;
        font-weight: 700;
        padding: 10px 18px;
        text-wrap: nowrap;
        border-radius: 12px;
        margin-bottom: 24px;

    }

    .creative-img-container {
        width: 300px;
        height: 224px;
        margin-top: auto;

        .creative-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .creative-detail {
        width: 100%;
        height: 14px;
        background-color: #50201A;
    }

}