
// Billboard antigo
.billboard-layout {
    display: flex;
    align-items: center;
    width: 970px;
    min-width: 970px;
    height: 250px;
    background-color: #FC560C;


    .creative-text {
        font-size: 40px;
        color: white;
        max-width: 450px;
        font-weight: 600;
        padding: 24px;
    }

    .logo-container {
        display: flex;
        width: 120px;
        height: 120px;
        background-color: white;
        border-radius: 24px;
        margin: 0px 24px;
        padding: 20px;

        .logo-img {
            object-fit: cover;
            margin: auto;
        }
    }

    .creative-detail {
        width: 20px;
        height: 100%;
        background-color: #50201A;
        margin-left: auto;
    }

    .creative-img-container {
        position: relative;
        width: 332px;
        height: 100%;

        .creative-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }


        .creative-button {
            position: absolute;
            bottom: 0;
            right: 0;
            background-color: #FC560C;
            border: 2px white solid;
            color: white;
            font-family: Inter;
            font-size: 16px;
            font-weight: 700;
            padding: 10px 18px;
            text-wrap: nowrap;
            border-radius: 12px;
            margin: 0px 24px 20px 0px;

        }
    }
}