h1 {
    margin: 80px auto;
    text-align: center;
}


// Containers

.center {
    width: fit-content;
    margin: 120px auto;
    background-color:#DAE9DC;
    padding: 20px;
}

.creative-container {
    background-color: rgb(0, 0, 0);
}



// GRID DE CARDS

.creatives-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    gap: 16px;
    background-color: rgb(235, 235, 235);
    width: 100vw;

    .card {
        width: fit-content;
        padding: 20px;
        background-color: rgb(255, 255, 255);
        border-radius: 12px;
        cursor: pointer;
        transition: .3s ease all;

        &:hover {
            background-color: rgb(196, 196, 196);
        }

    }
}